body{
	background-color:#00b
}
h1{
	font-family:georgia;font-size:3em;"
h2{
	font-family:georgia;font-size:2em;
}
p{
	font-family:arial,helvetica,sans-serif;
}
footer{
	font-family:arial,helvetica,sans-serif;font-size:3em
}